body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dadada;
    margin:0px;
}

header{
    text-align: center;
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
}

header h1, .timeline-title h1{
    margin: 0px auto;
    width: fit-content;
    border-bottom: 5px solid rgb(243, 243, 130);
}

#intro{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.intro-figure{
    flex:4;
}


.intro-figure figure{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.intro-figure figcaption{
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro-text{
    flex:7;
    display: flex;
    justify-content: center;
    align-items: center;
}

mark {
    background-color: rgb(243, 243, 130);
}

.intro-text blockquote{
    line-height: 30px;
}

.intro-figure img{
    width: 100%;
    object-fit: contain;
}

#timeline{
    box-shadow: 2px -2px 5px rgb(119, 118, 118);
    background-color: #eee;
    height: fit-content;
}

.timeline-title h1{
    padding-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2em;
}

.timeline-list ul{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.timeline-list ul li{
    box-sizing: border-box;
    padding: 20px;
    text-decoration: none;
    margin: 5px;
    background-color: rgb(243, 243, 130);
    max-width: 49%;
}

.timeline-list ul li span{
    font-size: 2rem;
}

.align-right{
    align-self: flex-end;
}

.timeline-moreinfo{
    margin-top: 50px;
    text-align: center;
    padding-bottom: 40px;
}

footer{
    padding:30px;
    text-align: center;
}

@media (max-width: 700px){
    #intro{
        flex-direction: column;
    }

    .intro-text{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 500px){
    .timeline-list ul li{
        max-width: 70%;
    }
}