body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dadada;
}

header{
    text-align: center;
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
}

#intro{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.intro-figure{
    flex:4;
}


.intro-figure figure{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.intro-figure figcaption{
    margin-top: 15px;
    margin-bottom: 15px;
}

.intro-text{
    flex:7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text blockquote{
    line-height: 30px;
}

.intro-figure img{
    width: 100%;
    object-fit: contain;
}

#timeline{
    box-shadow: 2px -2px 5px rgb(119, 118, 118);
    background-color: #eee;
}

.timeline-title h1{
    text-align: center;
}

.timeline-list ul{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.timeline-list ul li{
    padding: 20px;
    text-decoration: none;
    margin: 5px;
    background-color: rgb(243, 243, 130);
    width: fit-content;
    max-width: 50%;
}